In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r'C:\Users\Admin\Desktop\CV\shots_data.csv')

In [5]:
df

       team     x     y  fgmade
0    Team A  -5.0  26.4       0
1    Team A  -0.8   1.2       1
2    Team A -13.9   9.5       1
3    Team A  -5.4  26.2       0
4    Team A  -4.9  14.5       1
..      ...   ...   ...     ...
499  Team B  -0.5   2.2       0
500  Team B   3.5   7.6       0
501  Team B   0.2   8.8       0
502  Team B  -0.6   0.7       1
503  Team B  -0.3   3.6       0

[504 rows x 4 columns]

In [6]:
df1=df[df['team']=='Team A']
df2=df[df['team']=='Team B']

# Team A

In [12]:
df1

       team     x     y  fgmade
0    Team A  -5.0  26.4       0
1    Team A  -0.8   1.2       1
2    Team A -13.9   9.5       1
3    Team A  -5.4  26.2       0
4    Team A  -4.9  14.5       1
..      ...   ...   ...     ...
275  Team A  -2.7  24.5       0
276  Team A   4.2  10.3       1
277  Team A  -9.0   1.2       1
278  Team A   1.4  -0.1       0
279  Team A   2.4   6.6       1

[280 rows x 4 columns]

In [124]:
def condition(df):
    if (df.y>=7.8) & ((df.y**2+df.x**2)<=23.75**2):
        
        return 'non-corner 3s'
    elif (df.y<7.8) & (abs(df.x)<=22):
        return 'corner 3s'
    else:
        return '2 point region'

In [125]:
df1['fields']=df1.apply(condition,axis=1)

In [32]:
def condition1(df):
    if (df.y>=7.8) & ((df.y**2+df.x**2)<=23.75**2):
        return 3
    elif (df.y<7.8) & (abs(df.x)<=22):
        return 3
    else:
        return 2

In [34]:
df1['points according to fields']=df1.apply(condition1,axis=1)

In [72]:
df1

       team     x     y  fgmade          fields  points according to fields
0    Team A  -5.0  26.4       0  2 point region                           2
1    Team A  -0.8   1.2       1       corner 3s                           3
2    Team A -13.9   9.5       1   non-corner 3s                           3
3    Team A  -5.4  26.2       0  2 point region                           2
4    Team A  -4.9  14.5       1   non-corner 3s                           3
..      ...   ...   ...     ...             ...                         ...
275  Team A  -2.7  24.5       0  2 point region                           2
276  Team A   4.2  10.3       1   non-corner 3s                           3
277  Team A  -9.0   1.2       1       corner 3s                           3
278  Team A   1.4  -0.1       0       corner 3s                           3
279  Team A   2.4   6.6       1       corner 3s                           3

[280 rows x 6 columns]

# eFG% for team A

In [48]:
#After investigation of efg 
#FGM= field goals made
#FGA=field goal attempts
#3PM=3 point field goals made
efg_A=((len(df1[df1.fgmade==1])+
        (0.5*len(df1[df1['points according to fields']==3])))/len(df1))

In [50]:
print('EFFECTIVE GOAL % for team A is',efg_A)

EFFECTIVE GOAL % for team A is 0.7928571428571428

# shot distribution for Team A

In [112]:
shot_distribution_A=pd.DataFrame(columns=['2PT','NC3','C3'],index=range(0,1))

In [78]:
two_pt_A=len(df1[df1.fields=='2 point region'])/len(df1)

In [79]:
NC3_A=len(df1[df1.fields=='non-corner 3s'])/len(df1)

In [80]:
C_3_A=len(df1[df1.fields=='corner 3s'])/len(df1)

In [116]:
shot_distribution_A['2PT'].iloc[0]=two_pt_A
shot_distribution_A['NC3'].iloc[0]=NC3_A
shot_distribution_A['C3'].iloc[0]=C_3_A

In [117]:
shot_distribution_A

        2PT    NC3        C3
0  0.307143  0.225  0.467857

# Team B

In [126]:
df2['fields']=df2.apply(condition,axis=1)

C:\Users\Admin\AppData\Local\Temp/ipykernel_17248/2342351205.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['fields']=df2.apply(condition,axis=1)

In [127]:
df2['points according to fields']=df2.apply(condition1,axis=1)

C:\Users\Admin\AppData\Local\Temp/ipykernel_17248/2241407601.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['points according to fields']=df2.apply(condition1,axis=1)

In [129]:
df2

       team     x     y  fgmade          fields  points according to fields
280  Team B  -2.9  16.7       0   non-corner 3s                           3
281  Team B  10.3  24.7       0  2 point region                           2
282  Team B  -3.5   5.3       1       corner 3s                           3
283  Team B   0.9   1.5       0       corner 3s                           3
284  Team B  22.8  -1.5       0  2 point region                           2
..      ...   ...   ...     ...             ...                         ...
499  Team B  -0.5   2.2       0       corner 3s                           3
500  Team B   3.5   7.6       0       corner 3s                           3
501  Team B   0.2   8.8       0   non-corner 3s                           3
502  Team B  -0.6   0.7       1       corner 3s                           3
503  Team B  -0.3   3.6       0       corner 3s                           3

[224 rows x 6 columns]

# eFG% for team A

In [131]:
efg_B=((len(df2[df2.fgmade==1])+
        (0.5*len(df2[df2['points according to fields']==3])))/len(df2))

In [132]:
print('EFFECTIVE GOAL % for team A is',efg_B)

0.7477678571428571

# shot distribution for Team A

In [133]:
shot_distribution_B=pd.DataFrame(columns=['2PT','NC3','C3'],index=range(0,1))

In [134]:
two_pt_B=len(df2[df2.fields=='2 point region'])/len(df2)

In [135]:
NC3_B=len(df2[df2.fields=='non-corner 3s'])/len(df2)

In [136]:
C_3_B=len(df2[df2.fields=='corner 3s'])/len(df2)

In [137]:
shot_distribution_B['2PT'].iloc[0]=two_pt_B
shot_distribution_B['NC3'].iloc[0]=NC3_B
shot_distribution_B['C3'].iloc[0]=C_3_B

In [138]:
shot_distribution_B

        2PT       NC3        C3
0  0.325893  0.276786  0.397321

# questions

In [139]:
#1st
len(df1[df1['points according to fields']==2])/len(df1)

0.30714285714285716

In [140]:
#2nd
len(df1[df1['fields']=='non-corner 3s'])/len(df1)

0.225

In [141]:
#3rd
len(df1[df1['fields']=='corner 3s'])/len(df1)

0.46785714285714286

In [159]:
#4th
(len(df1[(df1['fields']=='2 point region') & (df1.fgmade==1)]))/len(df1)

0.10714285714285714

In [167]:
#5th
((len(df1[(df1['fields']=='non-corner 3s') & (df1.fgmade==1)]))+
        (0.5*len(df1[(df1['fields']=='non-corner 3s') & (df1['points according to fields']==3)])))/len(df1)

0.1982142857142857

In [166]:
#6th
((len(df1[(df1['fields']=='corner 3s') & (df1.fgmade==1)]))+
        (0.5*len(df1[(df1['fields']=='corner 3s') & (df1['points according to fields']==3)])))/len(df1)

0.4875

In [168]:
#7th
len(df2[df2['points according to fields']==2])/len(df2)

0.32589285714285715

In [169]:
#8th
len(df2[df2['fields']=='non-corner 3s'])/len(df2)

0.2767857142857143

In [170]:
#9th
len(df2[df2['fields']=='corner 3s'])/len(df2)

0.39732142857142855

In [171]:
#10th
(len(df2[(df2['fields']=='2 point region') & (df2.fgmade==1)]))/len(df2)

0.11160714285714286

In [172]:
#11th
((len(df2[(df2['fields']=='non-corner 3s') & (df2.fgmade==1)]))+
        (0.5*len(df2[(df2['fields']=='non-corner 3s') & (df2['points according to fields']==3)])))/len(df2)

0.23214285714285715

In [173]:
#12th
((len(df2[(df2['fields']=='corner 3s') & (df2.fgmade==1)]))+
        (0.5*len(df2[(df2['fields']=='corner 3s') & (df2['points according to fields']==3)])))/len(df2)

0.40401785714285715